/* font section */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');



.inter-normal {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
    font-variation-settings: "slnt" 0;
}



/* parents control section */
body {
    background: rgba(17, 17, 17, 1);
}

main {
    background: black;
}

/* shared item section start here */
.disply-flex {
    display: flex;
}

.common-btn-orange {
    background: #E6533C;
    color: white;
    padding: 16px 47px 16px 47px;
    border: none;
    border-radius: 42px;
    /* margin-right: 14px; */
}

.common-btn {
    background: rgba(17, 17, 17, 1);
    border: 2px solid rgba(48, 48, 48, 0.54);
    color: white;
    padding: 16px 47px 16px 47px;
    border-radius: 42px;
}

.banner-write-btn {
    background: rgba(255, 255, 255, 0.1);
    color: white;
    border-radius: 12px;
    border: none;
    padding: 20px;
    padding-left: 40px;
    padding-right: 40px;

    font-weight: 600;
    font-size: 2rem;
    text-align: left;
    max-width: 206px;

}




/* nav bar section start here */
nav {
    justify-content: space-between;
    align-items: center;
    max-width: 1440px;
    margin: 0 auto;
}

.nav-logo {
    font-weight: 800;
    font-size: 2.02rem;
    color: #E6533C;
}

.nav-ul {
    border: 1px solid rgb(255, 255, 255, 0.2);
    border-radius: 39px;
    color: white;
    justify-content: space-between;
    align-items: center;
}

.nav-li {
    list-style: none;
    padding: 12px 0px 12px 0px;
    margin-right: 47px;
    font-size: 1.125rem;
    font-weight: 400;

}

.nav-li-btn {
    background: #E6533C;
    color: white;
    margin: 4px;
    width: 92px;
    border-radius: 46px;
    text-align: center;
    margin-left: -35px;
    margin-right: 47px;
}

.nav-item>li {
    display: none;
}

/* banner section start here */
.banner-container {
    justify-content: space-between;
    align-items: center;
    max-width: 1440px;
    margin: 0 auto;
}

.banner-title {
    font-weight: 800;
    font-size: 4.875rem;
    color: white;
}

.banner-description {
    font-weight: 400;
    font-size: 1rem;
    color: rgba(255, 255, 255, 0.5);

}

.banner-btn>.common-btn-orange {
    margin-right: 14px;
}

.banner-write>.banner-write-btn>p {
    font-weight: 400;
    font-size: .81rem;
}

.banner-write {
    position: relative;
}

.banner-img {
    max-width: 100%;
    margin-top: 76px;
}

.btn-top {
    position: absolute;
    left: 260px;
    top: 220px;
}

.btn-bottom {
    position: absolute;
    left: -40px;
    top: 456px;
}

.btn-bottom>img {
    text-align: left;
}

/* Change Your Habits */
.change-container {
    /* border: 2px solid red; */
    background: rgb(0, 0, 0, 0.2);
    max-width: 1044px;
    margin: 0 auto;
    padding: 100px 100px 50px 100px;
}

.change-text-container {
    text-align: center;
}

.change-text-title {
    font-size: 3rem;
    font-weight: 800;
    color: white;
}

.change-text-description {
    font-size: 0.87rem;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.5);
}

.round-h3 {
    font-size: 1.2rem;
    font-weight: 500;
    color: white;

}

.round-p {
    font-size: .7rem;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.5);

}

.change-card-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-top: 70px;

}

.change-card-img {
    width: 70%;
    object-fit: cover;
    border-radius: 50%;
}

.change-img {
    justify-content: center;
    align-items: center;
    text-align: center;
}


/* Run an Extra Mile Easily section start here */
.run-extra-container {
    background: rgba(34, 34, 34, 1);
    border-radius: 18px;
    max-width: 1100px;
    height: 371px;
    margin: 0 auto;
}

.run-extra-text {
    padding: 20px 0px 40px 40px;
}


.run-extra-title {
    font-size: 3rem;
    font-weight: 800;
    color: #ffffff;
}

.run-extra-description {
    font-size: .8rem;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.5);
}

.run-extra-imges {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: cover;
    max-width: 500px;
    border-radius: 18px;
    margin: 30px;
}

.run-extra-img {
    width: 100%;
    border-radius: 18px;
}

/* BMI Calculator section start here */

.BMI-calculator-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    padding: 88px 385px 88px 385px;
}

#BMI-calculator-h3 {
    font-size: 3rem;
    font-weight: 800;
}

#BMI-calculator-p {
    font-weight: 400;
    font-size: 0.875rem;
    color: rgba(255, 255, 255, 0.5);
}

.BMI-calculator {
    width: fill;
    max-height: 471px;
    background: rgba(34, 34, 34, 1);
    color: white;
    justify-content: space-evenly;
    padding: 120px;
}

.BMI-calculator-chart h3 {
    font-weight: 800;
    font-size: 2rem;
}

table,
td {
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-collapse: collapse;
    padding: 10px;
    padding-right: 80px;
    padding-left: 15px;
    color: rgba(255, 255, 255, 0.5);
    font-size: 0.875rem;
    font-weight: 400;
}

.white {
    color: white;
}



.BMI-calculator-calculator h3 {
    font-size: 2rem;
    font-weight: 800;
    margin: 12px;
}


.BMI-calculator-calculator p {
    font-weight: 400;
    font-size: 0.875rem;
    color: rgba(255, 255, 255, 0.5);
    margin: 12px;
}

.BMI-calculator-input {
    display: flex;
    height: 48px;
    width: 100%;
    border: none;
    border-radius: 8px;
    margin: 12px;
    background-color: rgba(255, 255, 255, 0.1);
    color: rgba(255, 255, 255, 0.6);
    font-size: 1rem;
    font-weight: 400;
}

.BMI-calculator-input-s {
    width: 97%;
}

::placeholder {
    color: rgba(255, 255, 255, 0.6);
    font-size: 1rem;
    font-weight: 400;
    padding: 20px;
}

.BMI-calculator-option {
    color: black;
    font-weight: 400;
}

.calculate-btn {
    margin-top: 35px;
    margin-left: 20px;
}


/* media query section for mobile */
@media screen and (max-width:576px) {

    /* nav item section */
    .nav-ul {
        display: none;
    }

    .nav-item>li {
        display: inherit;
    }

    /* banner section  */

    .banner-container {
        flex-direction: column;
    }

    .banner-title {
        font-size: 3.375rem;
    }

    .banner-description {
        font-size: .71rem;
    }

    .banner-write {
        max-width: 100%;
    }

    .banner-write-btn {
        width: 70%;
    }

    .btn-top {
        position: absolute;
        left: 145px;
        top: 30px;
    }

    .btn-bottom {
        position: absolute;
        left: -25px;
        top: 456px;
    }

    section {
        margin: 0 auto;
    }

    /* change section */
    .change-card-container {
        grid-template-columns: repeat(1, 1fr);
    }

    .change-card-img {
        width: 100%;

    }

    .change-card-text {
        padding-top: 20px;
        padding-bottom: 20px;
    }

    /* Run an Extra Mile Easily */
    .run-extra-container {
        margin-top: 66px;
        flex-direction: column;
        height: 671px;
    }

    .run-extra-imges {
        display: inherit;
        flex-direction: column;
    }

    /* BMI Calculator section */

    .BMI-calculator-text {
        justify-content: left;
        align-items: left;
        align-items: flex-start;
        padding: 20px;
    }

    #BMI-calculator-h3 {
        font-size: 2rem;
        align-items: flex-start;
    }

    .BMI-calculator {
        flex-direction: column;
        max-height: 971px;
        padding: 20px;
        font-size: 1rem
    }

    .BMI-calculator-calculator {
        margin-top: 50px;
    }

    .BMI-calculator-calculator h3 {
        margin: 0;
    }

    .BMI-calculator-calculator p {
        margin: 0;
    }

    .BMI-calculator-input {
        margin-left: 0;
    }

    .calculate-btn {
        margin-left: 0;
        width: 80%;
    }
}